@model FinalProject.Models.Parent

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Parent</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ParentName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ParentName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ChildFirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ChildFirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ChildLastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ChildLastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RoomNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RoomNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TeacherName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TeacherName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SchoolName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SchoolName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.FamilyId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
