@model FinalProject.Models.Order

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Qty)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Qty)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PurchaseDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PurchaseDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ItemId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ItemId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ItemName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ItemName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CardNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CardNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PaymentTypeName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PaymentTypeName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ChildFirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ChildFirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ChildLasttName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ChildLasttName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RoomNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RoomNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TeacherName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TeacherName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.OrderId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
