@model FinalProject.Models.Menu

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Menu</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ItemName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ItemName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ItemDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ItemDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LunchDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LunchDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SchoolId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SchoolId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ItemId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
