@model IEnumerable<FinalProject.Models.PAdmin>

@{
    ViewData["Title"] = "School Admin";
}

<h2>School Admin</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SchoolId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SchoolName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SchoolId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SchoolName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SchoolId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SchoolId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SchoolId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
